<div class="col-lg-12 col-md-12 col-sm-12 header-container">
    <div class="header-container-inner">
        <div class="header-logo">
            <img src="/assets/images/book_logo.png" alt="Books logo">
            <h4 class="header-logo-text">Books library</h4>
        </div>
        <div class="header-nav-menu">
        </div>
        <div class="header-search">
            <input class="search-input" type="text" name="search" placeholder="Search by title,author or genres"/>
        </div>
    </div>
</div>