<div class="col-lg-12 col-md-12 col-sm-12 header-container">
    <div class="header-container-inner">
        <div class="header-logo">
            <img src="/assets/images/book_logo.png" alt="Books logo">
            <h1 class="header-logo-text marginInherit">Books library</h1>
        </div>
        <!-- <div class="header-nav-menu">
        </div> -->
        <div class="list-nav-menu">
            <div id="home-tab" class="active" (click)="switchTab('home')">HOME</div>
            <div id="list-tab" (click)="switchTab('list')">BOOK LIST</div>
            <div id="delete-tab" (click)="switchTab('delete')">RECENTLY DELETED</div>
        </div>
        <div class="my-account-section">
            <!-- <div class="active">My account</div> -->
        </div>
        <!-- <div *ngIf="this.sharedService.isLandingPage" class="header-search">
            <input #search class="search-input" type="text" name="search" (input)="filterBooks(search.value)" placeholder="Search by title"/>
        </div> -->
    </div>
</div>