.header-container {
    height: 80px;
    background: #2d3436;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    .list-nav-menu {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 10px;
        flex-grow: 2;
        div {
            text-align: center;
            height: 100%;
            padding: 20px;
            cursor: pointer;
            opacity: 0.6;
            &.active {
                opacity: 1;
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    .my-account-section {
        justify-content: end;
        cursor: pointer;
    }

    .header-container-inner {
        max-width: 1120px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        .header-logo {
            display: flex;
            align-items: center;
            margin-right: 10px;
            img {
                height: 4rem;
            }
        }

        .header-nav-menu {
            flex-grow: 2;
        }
    
        .header-search {
            flex-grow: 3;
            input {
                padding: 5px;
                min-width: 20rem;
                outline: none;
                border-radius: 3px;
                float: right;
                border: none;
                height: 2rem;
            }
        }
    }

    
}